# Node
node_modules/
npm-debug.log*
build.bat
hiddenstart.vbs

# 3dmigoto content
3dmigoto/Disable/

# Ignore all Mods content except Personajes fixes
3dmigoto/Mods/*
!3dmigoto/Mods/Personajes/
3dmigoto/Mods/Personajes/*
!3dmigoto/Mods/Personajes/**/*.bat
!3dmigoto/Mods/Personajes/**/*.exe
!3dmigoto/Mods/Personajes/**/*.cmd
